<body class="body-home">
<section class="navbar-section program-navbar">

  <div class="container-fluid navbar-container">


    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">
        <img src="/images/logos/logo_oriz_cut.png" class="d-inline-block align-middle logo-navbar" alt="logo_oriz.jpg"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown nav-droplist">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Le voci
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/shows/all-inclusive">All Inclusive</a>
              <a class="dropdown-item" href="/shows/casa-sarzilla">Casa Sarzilla</a>
              <a class="dropdown-item" href="/shows/l-indiescreto">L'IndieScreto</a>
              <a class="dropdown-item" href="/shows/retro-zone">Retro Zone</a>
              <a class="dropdown-item" href="/shows/peepcast">Peepcast</a>
              <a class="dropdown-item" href="/shows/anatomia-dei-miei-30-anni">Anatomia dei miei 30 anni</a>
              <a class="dropdown-item" href="/shows/se-potevi-cambiarmi-il-carattere-nascevo-word">Se potevi cambiarmi il carattere nascevo WORD</a>
            </div>
          </li>
          <li class="nav-item dropdown nav-droplist">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              I suoni
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/mixes/futu-tech-room">Futu Tech Room</a>
              <a class="dropdown-item" href="/mixes/heaven-to-hell">Heaven to hell</a>
            </div>
          </li>
          <li class="nav-item dropdown nav-droplist">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Le parole
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/blogs/andem-a-spass">Andèm a spass!</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Le Persone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Gli Eventi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/console/login">Login</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>

  <div class="container-fluid title-container">
    <div class="title-div">

      <!-- Title -->
      <!-- <div class="row"> -->
      <!-- <div class="title-text"> -->
        <!-- <h1 class="title-h1"><%= pageTitle %></h1> -->
        <!-- <h3 class="title-h3">Discover our podcasts and music</h3> -->
      <!-- </div> -->
      <!-- <div class="btn-container">
        <p class="btn-text">Download our app</p>
        <button type="button" class="btn btn-outline-light btn-lg dwn-btn"><i class="fab fa-apple"></i> Download</button>
        <button type="button" class="btn btn-outline-light btn-lg dwn-btn"><i class="fab fa-google-play"></i> Download</button>
      </div> -->
    </div>
  </div>
</section>
