<body>
<section class="navbar-section" id="homepage-navbar">

  <div class="container-fluid navbar-container">


    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">
        <img src="/images/logos/logo_oriz_cut.png" class="d-inline-block align-middle logo-navbar" alt="logo_oriz.jpg"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown nav-droplist">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Le voci
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/shows/all-inclusive">All Inclusive</a>
              <a class="dropdown-item" href="/shows/casa-cava">Casa Cava</a>
              <a class="dropdown-item" href="/shows/casa-sarzilla">Casa Sarzilla</a>
              <a class="dropdown-item" href="/shows/l-indiescreto">L'Indiescreto</a>
              <a class="dropdown-item" href="/shows/retro-zone">Retro Zone</a>
            </div>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/shows/casa-cava">Casa Cava</a>
            </div> -->
          </li>
          <li class="nav-item dropdown nav-droplist">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              I suoni
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/mixes/i-mix-di-cava">I mix di Cava</a>
              <a class="dropdown-item" href="/mixes/futu-tech-room">Futu Tech Room</a>
              <a class="dropdown-item" href="/mixes/heaven-to-hell">Heaven to hell</a>
            </div>
          </li>


          <li class="nav-item dropdown nav-droplist">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Le parole
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/blogs/cucina-con-cava">Cucina con Cava</a>
              <a class="dropdown-item" href="/blogs/andèm-a-spass">Andèm a spass!</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Le Persone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/console/login">Login</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>

  <!-- <div class="container-fluid title-container">
    <div class="title-div-new"> -->

      <!-- Title -->
      <!-- <div class="row"> -->
      <!-- <div class="title-text-new">
        <h1 class="title-h1-new"><%= pageTitle %></h1>
        <h3 class="title-h3-new"><%= pageSubTitle %></h3>
      </div> -->
      <!-- <div class="btn-container">
        <p class="btn-text">Download our app</p>
        <button type="button" class="btn btn-outline-light btn-lg dwn-btn"><i class="fab fa-apple"></i> Download</button>
        <button type="button" class="btn btn-outline-light btn-lg dwn-btn"><i class="fab fa-google-play"></i> Download</button>
      </div> -->
<!--  -->
    <!-- </div>
  </div> -->
</section>
