<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Compose</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L67DBLQLVT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-L67DBLQLVT');
    </script>

    <!-- Bootstrap CSS stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Owl carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <!-- My css stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Compose</h1>
    <form class="" action="create" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label>Author</label>
        <input class="form-control" type="text" name="postAuthor">
        <label>Program</label>
        <input class="form-control" type="text" name="postProgram">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
        <label for="preview">Select files:</label>
        <input type="file" id="preview" name="preview">
        <label for="pics">Select files:</label>
        <input type="file" id="pics" name="pics" multiple>
      </div>
      <button class="btn btn-primary" type="submit">Publish</button>
    </form>
        <script src="/js/userPosts.js"></script>
  </body>
</html>
