.event-container{
  height: 450px;
  margin: 0 auto;
}

.event-card{
  background-position: bottom center;
  background-size: cover;
  overflow: hidden;
  height: 100%
}

#wedding-card{
  background-image: url("/images/pages/wedding-prova.jpg");
}

#party-card{
  background-image: url("/images/pages/party-prova.jpg");
  background-position: center;
}

#entertainment-card{
  background-image: url("/images/pages/entertainment-prova.jpg");
  background-position: center;
}

.event-title{
  font-size: 7rem;
  padding-top: 10%;
  padding-left: 5%;
}

.event-text{
  padding: 0 6%;
  font-size: 1.5rem;
  font-weight: 300;
}
