.body-home{
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPUlEQVQoU2NkIAJMnTrVl5EIdWAleBWCTMrOzt6MVyGyIoImIjsLw2p0k2CKURTiUkS61fhMgltNjCKQYgCVbRoX7exOkwAAAABJRU5ErkJggg==) repeat; */
  background-image: url("../images/pattern_home.png");
  background-repeat: repeat;
}

.body-console{
  background-image: none;
  background-color: #eff7fa;
}

.main-div{
  margin: 0 auto;
}

.navbar-section{
  background-size: cover;
  background-repeat: no-repeat;
  /* width: auto; */
  background-position: center;
  padding-bottom: : 5%; /* DA TOGLIERE QUANDO SI INSERISCONO I BOTTONI DEL DOWNLOAD */
  height: 16rem;
}

#homepage-navbar{
  background-image: url("../images/pages/home-banner-mobile.jpg");
  background-size: cover;
  width: 100%;
}

#post-navbar{
  color: : black;
}


.navbar-container{
  padding: 2% 5%;
}

.navbar-container-login{
  padding: 2% 5% 0 5%;
}

.logo-navbar{
  height: 35px;
}

.nav-droplist{
  /* background-color: ; */

}

.dropdown-item{
  font-size: 1em;
}
.title-div-new{
  margin: 0 5%;
  /* height: 500px; */
}

.btn-text{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 5%;
}
/* .title-container{
  padding: 3% 15%;
} */
.title-text-new{
  padding: 5% 0 0 0;
  width: 100%;
  /* border-style: solid;
  border-width: thin;
  border-color: white; */
  text-align: right;
}
.title-h1-new{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  /* line-height: 1.5; */
  color: white;
  /* text-shadow:
    -1px -1px 0px #000,
     0px -1px 0px #000,
     1px -1px 0px #000,
    -1px  0px 0px #000,
     1px  0px 0px #000,
    -1px  1px 0px #000,
     0px  1px 0px #000,
     1px  1px 0px #000; */
}

.title-h3-post{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: black;
  padding-bottom: 0%;
}

.title-h3-new{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: white;
  padding-bottom: 0%;
}

.title-h3-post{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: black;
  padding-bottom: 0%;
}

.navbar-brand{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  vertical-align: middle;
}

.dwn-btn{
  margin: 0 2% 5% 0;
}

#menu-section{
  align-items: center;
  text-align: center;
  margin: 0 20px;
  /* background-color: #131313; */
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPUlEQVQoU2NkIAJMnTrVl5EIdWAleBWCTMrOzt6MVyGyIoImIjsLw2p0k2CKURTiUkS61fhMgltNjCKQYgCVbRoX7exOkwAAAABJRU5ErkJggg==) repeat; */
}

.menu-container{
  padding: 2% 0;
}
.btn-group{
  margin: 0 auto;
}
.gallery-container{
  margin: 0 10%;
}
.btn.menu-button{
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border-radius: 0;
  color: #a6a6a6;
  padding: .2rem .4rem;
  border-right-color: #a6a6a6;
  border-color: white;
}


.btn.menu-button.active{
  /* color: #232323; */
  color: #0060A9;
  border-color: white;
}
.btn.menu-button.active::after {

}

.menu-button:focus, .menu-button:hover {
  box-shadow: none;
  color: #EF50AE;
}

.item-thumbnail{
  padding-bottom: 1em;
}
.img-item-new{
  width: 100%;

}

.programs-title-new{
  font-family: 'Josefin Sans', sans-serif;
  font-size:1.5rem;
  font-weight: 600;
  padding-top: 5%;
  color: #0060A9;
}


@media all and (min-width: 30em) {
  .title-h1-new{
    font-size: 4rem;
  }
  .programs-title-new{
    font-size: 2rem;
  }
  .btn.menu-button{
    font-size: 1.5rem;
    padding: .2rem .5rem;
  }

  .title-h1{
    font-size: 4rem;
  }
  .programs-title{
    font-size: 2rem;
  }

  #homepage-navbar{
    background-image: url("../images/pages/home-banner.jpg");
  }

}

@media all and (min-width: 40em) {
  .title-h1-new{
    font-size: 6rem;
  }
  .programs-title-new{
    font-size: 4rem;
  }
  .btn.menu-button{
    font-size: 2rem;
    padding: .2rem .6rem;
  }
  .title-h1{
    font-size: 6rem;
  }
  .programs-title{
    font-size: 4rem;
  }


  .title-h3-new{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    padding-bottom: 0%;
  }

  #homepage-navbar{
    background-image: url("../images/pages/home-banner.jpg");
  }

}

@media all and (min-width: 62em) {
  .title-h1{
    font-size: 9rem;
  }

  .title-h1-new{
    font-size: 9rem;
  }
  .programs-title-new{
    font-size: 5rem;
  }

  .title-h1-post{
    font-size: 9rem;
  }

  .title-h3-new{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: white;
    padding-bottom: 0%;
  }

  .title-h3-post{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: black;
    padding-bottom: 0%;
  }

  .navbar-section{
    height: 40rem;
  }

  #homepage-navbar{
    background-image: url("../images/pages/home-banner.jpg");
  }
}
