body{
  /* background-color: #40514e; */
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-section{
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  background-position: center;
  padding: 0 0 5% 0; /* DA TOGLIERE QUANDO SI INSERISCONO I BOTTONI DEL DOWNLOAD */
}

#homepage-navbar{
  background-image: url("../images/black-mic.jpg");
}

#casaSarzilla-navbar{
  background-image: url("../images/casaSarzillaTop.jpg");
}

.navbar-container{
  padding: 2% 5%;
}


.nav-droplist{
  background-color: ;

}

.dropdown-item{
  font-size: 1em;
}
.title-div{
text-align: center;
  margin: 0 5%;
}

.btn-text{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 5%;
}
/* .title-container{
  padding: 3% 15%;
} */
.title-text{
  padding: 5% 0 0 0;
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: white;
}
.title-h1{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 2em;
  line-height: 1;
  color: white;
  /* text-shadow:
    -1px -1px 0px #000,
     0px -1px 0px #000,
     1px -1px 0px #000,
    -1px  0px 0px #000,
     1px  0px 0px #000,
    -1px  1px 0px #000,
     0px  1px 0px #000,
     1px  1px 0px #000; */
}

.title-h3{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 3vw;
  color: white;
  padding-bottom: 5%;
}

.navbar-brand{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  vertical-align: middle;
}

.dwn-btn{
  margin: 0 2% 5% 0;
}


/*  SLIDER   */
.wrapper{
  padding: 0 10%;
}


.single-testimonial{
  text-align: center;
  color: black;
}

.img-area{
  padding: 5% 15%;
}

.img-item{

}

.owl-stage-outer{
  border: 1px;
  border-color: black;
}

.owl-nav{
  text-align: center;
  padding: 2% 0;
}

.owl-carousel .owl-nav .owl-prev{
    width: 5%;
    display: inline-block;
    color: black;

}

.owl-carousel .owl-nav .owl-next{
    width: 5%;
    display: inline-block;
    color: black;

}

#social{
  background-color: #40514e;
  text-align: center;
  width: 100%;
}
.bottom-container{
  margin: 2% auto;
}

.p-footer{
  margin: 0 auto;
  padding: 1% auto 0 auto;
  color: white;
}

.img-footer{
  width: 30px;

}





/* Console */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* .img-item-new{
  object-fit: cover;
  width: 100%;
  height: 50rem;
} */

/* 
.people-header{
  color: black;
  text-align: center;
}
.people-title{
  font-family: 'Josefin Sans', sans-serif;
  font-size:1.5rem;
  font-weight: 600;
  padding-top: 1em;
}

.h-line-people{

  border: 2px solid #EF50AE;
  background-color: #EF50AE;
  width: 30%;
  margin: 0 auto;
}
 */

/* COMMON CLASSES */

.title-hr{
  border: 2px solid #EF50AE;
  background-color: #EF50AE;
  width: 30%;
  margin: 0 auto;
}

.title-h1-new{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  /* line-height: 1.5; */
  color: white;
  /* text-shadow:
    -1px -1px 0px #000,
     0px -1px 0px #000,
     1px -1px 0px #000,
    -1px  0px 0px #000,
     1px  0px 0px #000,
    -1px  1px 0px #000,
     0px  1px 0px #000,
     1px  1px 0px #000; */
}

.title-h3-new{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: white;
  padding-bottom: 0%;
}
